{{<base}}
    {{$title}}{{clanName}} - {{playerIgn}} - {{layoutDescription}}{{/title}}

    {{$heading}}{{clanName}} - {{playerIgn}} - {{layoutDescription}}{{/heading}}

    {{$styles}}
        <link rel="stylesheet" type="text/css" href="/css/base-analysis.css" />
    {{/styles}}

    {{$navbar}}
        {{#times}}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span class="glyphicon glyphicon-time"></span> {{connection}} | {{analysis}} <span class="caret"></span></a>
                    <div class="dropdown-menu" style="min-width:280px">
                        {{#times}}
                            <h5>{{_1}}</h5>
                            <table class="table table-condensed table-bordered">
                                <tbody>
                                    {{#_2}}
                                        <tr><td class="col-md-9">{{_1}}</td><td class="col-md-3 text-right">{{_2}}</td></tr>
                                    {{/_2}}
                                </tbody>
                            </table>
                        {{/times}}
                    </div>
                </li>
            </ul>
        {{/times}}

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Display Settings <span class="caret"></span></a>
                <form id="display-settings" class="dropdown-menu">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input name="grid" type="checkbox"> Show grid
                            </label>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    {{/navbar}}

    {{$content}}
        {{#warning}}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-warning">{{warning}}</div>
                </div>
            </div>
        {{/warning}}

        <div id="report" class="row">
            <div class="col-lg-3 col-md-4">
                <div id="results-panel-group" class="panel-group" role="tablist" aria-multiselectable="false"></div>
            </div>
            <div class="col-lg-9 col-md-8" id="map-container">
                <canvas id="villageImage"></canvas>
            </div>
        </div>
    {{/content}}

    {{$scripts}}
        <script id="result-panel" type="x-tmpl-mustache">
            <div id="panel-[[id]]" class="panel panel-default [[#success]]success[[/success]] [[^success]]failed[[/success]]">
                <div class="panel-heading" role="tab" id="heading-[[id]]"  role="button" class="collapsed" data-toggle="collapse" data-parent="#results-panel-group" href="#collapse-[[id]]" aria-expanded="false" aria-controls="collapse-[[id]]">
                    <h4 class="panel-title">
                        [[#success]]
                            <span class="glyphicon glyphicon-ok-sign"></span>
                        [[/success]]
                        [[^success]]
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        [[/success]]
                        <a href="#">
                            [[title]]
                        </a>
                        <a class="do-show">show me</a>
                    </h4>
                </div>
                <div id="collapse-[[id]]" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-[[id]]" data-rule-code="[[ruleCode]]">
                    <div class="panel-body">[[description]]</div>
                </div>
            </div>
        </script>

        <script type="text/javascript">
            var report = {{{report}}};
            var mapConfig = {
                mapTiles: {{mapTiles}},
                borderTiles: {{borderTiles}}
            };
        </script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/js-signals/1.0.0/js-signals.min.js"></script>
        <script type="text/javascript" src="//code.createjs.com/easeljs-0.8.2.min.js"></script>
        <script type="text/javascript" src="//code.createjs.com/preloadjs-0.6.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jStorage/0.4.12/jstorage.min.js"></script>
        <script type="text/javascript" src="/js/console-polyfill.js"></script>
        <script type="text/javascript" src="/js/base-analysis/Preloader.js"></script>
        <script type="text/javascript" src="/js/base-analysis/Model.js"></script>
        <script type="text/javascript" src="/js/base-analysis/RedMoonBuildingSpriteSheet.js"></script>
        <script type="text/javascript" src="/js/base-analysis/RedMoonBuildingSpriteSheet.js"></script>
        <script type="text/javascript" src="/js/base-analysis/RedMoonWallSpriteSheet.js"></script>
        <script type="text/javascript" src="/js/base-analysis/DisplaySettings.js"></script>
        <script type="text/javascript" src="/js/base-analysis/MapDisplay2d.js"></script>
        <script type="text/javascript" src="/js/base-analysis/Ui.js"></script>
        <script type="text/javascript" src="/js/base-analysis/main.js"></script>
    {{/scripts}}
{{/base}}