<!DOCTYPE html>
<html>
<head>
    <title>Clash War Base Analyser - {{$title}}{{/title}}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    {{$styles}}{{/styles}}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    <strong>Note!</strong> this is an alpha release. The connection to the game is a bit unreliable
                    and you might need to refresh sometimes to try it again and get it to work. Hidden Teslas and
                    traps are not yet implemented, this will be available soon. Any feedback or bug reports are much
                    appreciated
                </div>
                <h1>{{$heading}}{{/heading}}</h1>
            </div>
        </div>

        {{$content}}{{/content}}
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {{$scripts}}{{/scripts}}
</body>
</html>