{{<base}}
    {{$title}}{{ name }}{{/title}}

    {{$heading}}{{ name }}{{/heading}}

    {{$content}}
        <div class="row">
            <div class="col-md-12">
                <h4>Bulk Analysis</h4>
                <a href="{{bulkAnalysisUrl}}" target="_blank">{{bulkAnalysisUrl}}</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Current Players</h4>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>IGN</th>
                            <th>Base Analysis - Active War</th>
                            <th>Base Analysis - Home</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#players}}
                            <tr>
                                <td>{{ign}}</td>
                                <td><a href="{{warAnalysisUrl}}" target="_blank">{{warAnalysisUrl}}</a></td>
                                <td><a href="{{homeAnalysisUrl}}" target="_blank">{{homeAnalysisUrl}}</a></td>
                            </tr>
                        {{/players}}
                    </tbody>
                </table>
            </div>
        </div>
    {{/content}}
{{/base}}