{{<base}}
    {{$title}}{{ name }} Bulk War Bases Analysis{{/title}}

    {{$styles}}
        <style type="text/css">
            .glyphicon-remove-sign {
                color: #ff5555;
            }
            button.collapsed .hide-instruction {
                display:none;
            }
        </style>
    {{/styles}}

    {{$heading}}{{name}} Bulk War Bases Analysis{{/heading}}

    {{$content}}
        <div class="row">
            <div id="loading" class="col-md-12">
                Analysing: <span class="loading-names"></span>
                <button class="btn btn-link btn-xs queued-button" data-toggle="collapse"
                        data-target="#loading-queued-names" aria-expanded="false" aria-controls="loading-queued-names">+ <span class="queued-count"></span> queued</button>
                <div id="loading-queued-names" class="queued-names text-muted collapse"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 hidden" id="problems">
                <h4>Problems</h4>
            </div>
        </div>

        <div class="row">
            <div id="results" class="col-md-12">
            </div>
        </div>
    {{/content}}

    {{$scripts}}
        <script id="town-hall-container-template" type="x-tmpl-mustache">
            <div id="[[containerId]]" class="row">
                <div class="col-md-12">
                    <h4>Town Hall [[level]]</h4>

                    <div class="plain-text-summary">
                        <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#plain-text-summary-[[level]]" aria-expanded="false" aria-controls="plain-text-summary-[[level]]">
                            Plain Text Summary of Errors
                            <span class="hide-instruction">(Hide)</span>
                        </button>
                        <div id="plain-text-summary-[[level]]" class="collapse">
                            <button class="btn" data-clipboard-target="#plain-text-summary-text-[[level]]">
                                Copy to clipboard
                            </button>
                            <textarea id="plain-text-summary-text-[[level]]" class="form-control" rows="6" readonly="readonly"></textarea>
                        </div>
                    </div>

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>IGN</th>
                                <th>Analysis</th>
                                [[#rules]]
                                    <th data-rule="[[.]]" class="result-col col-[[.]]">[[.]]</th>
                                [[/rules]]
                                <th><span class="glyphicon glyphicon-time"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </script>

        <script type="text/javascript">
            var players = [
                {{#players}}
                    { "id": "{{id}}", "ign": "{{ign}}", "analysisUrl": "{{analysisUrl}}", "analysisSummaryUrl": "{{analysisSummaryUrl}}" },
                {{/players}}
            ];
        </script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
        <script type="text/javascript" src="/js/console-polyfill.js"></script>
        <script type="text/javascript" src="/js/war-bases/main.js"></script>
    {{/scripts}}
{{/base}}