#villageImage {
    margin-top: 10px;
    border: 1px solid #000000;
}
.panel .glyphicon-ok-sign {
    color: #55bb55;
}
.panel .glyphicon-remove-sign {
    color: #dd4444;
}
.panel .toggle-header {
    display: none;
    float: right;
    color: #dd4444;
    font-size: 12px;
}
.panel.failed .toggle-header.do-show {
    display: block;
}
.panel.failed .toggle-header.do-hide {
    display: none;
}
.panel.failed.active .toggle-header.do-show {
    display: none;
}
.panel.failed.active .toggle-header.do-hide {
    display: block;
}

.panel .panel-heading {
    cursor: pointer;
}
.panel .panel-heading:hover a {
    text-decoration: underline;
}